@mixin wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

@mixin products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
